<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css">
        <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
		<meta charset="utf-8">
		<title>TicTacToe | Invalid</title>
	</head>
	<body>
		<br><br>
		<p class="midform">Tic-Tac-Toe Network</p>
		<header>
			<nav>
				<ul>
					<ul>
					<li><a href="/" >Main</a></li>
					<li><a href="/topscores">Top Scores</a></li>
					<li><a href="/play" >Play</a></li>
				</ul>
				</ul>
			</nav>
			<div class="loginArea">
				{% if user %}
				  {{user.userName}} (<a href="/logout">logout</a>)
				{% else %}
				  <a href="/login">login</a> |
	  			  <a href="/register">register</a>
				{% endif %}
		  	</div>
			<hr>
		</header>
		<p class="midform">
			Invalid Link!
		</p>
	</body>
</html>